@import "tailwindcss";


#app {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}

:deep(img) {
  max-width: 100%;
  height: auto;
  display: block;
}

:deep(div) {
  overflow-x: auto;
}

.email-content :deep(img) {
  max-width: 100% !important;
  height: auto !important;
}

